messages: # See https://docs.adventure.kyori.net/minimessage/format.html
  claim-created: '<green>Claim created! Spawn block set to %1 %2 %3. You can change it by typing /setspawn.'
  must-be-standing-in-claim: '<red>You must be standing in a claim!'
  no-permission: '<red>You do not own this claim, or do not have permission to do that!'
  teleporting: '<yellow>Teleporting in 5 seconds, don''t move...'
  teleported: '<green>Teleported.'
  moved: '<red>Pending teleportation request cancelled.'
  damaged: '<red>Pending teleportation request cancelled.'
  public-on: '<green>Your claim is now public!' # Add the '%1' placeholder for cost, if it is enabled. The placeholder system will be revamped in the future.
                                                #For example: '<green>Your claim is now public!<red>-$%1.'
  public-off: '<green>Your claim is no longer public!'
  verify-public-cost:
    message: '<green>It will cost $%1 to make this claim public. If you want to continue, please type /public confirm<green>.'
    menu: '<gray>Cost: <green>$%1'
  updated-spawn: '<green>Spawn block set to %1 %2 %3.'
  name-too-long: '<red>The name you entered is too long!'
  updated-name: '<green>Updated the name of your claim to %1.'
  no-spawn-set: '<red>This claim does not have a spawn block set yet! Use </green><gradient:dark_purple:aqua:dark_purple>/claim set spawn</gradient><red> to set one.</red>'
  search: '<green>Type in the name of the claim you want to search for.'
  already-teleporting: '<red>You''re already teleporting somewhere!'
  public-disabled: '<red>Public claims are disabled!'
  invalid-claim: '<red>Your claim %1 had an invalid spawn location, so it has been reset.'
  max-public-exceeded: '<red>You have reached the maximum number of public claims!'
  claim-not-found: '<red>Could not find that claim!'
  not-enough-money:
    public: '<red>You do not have enough money to make this claim public!'
    tp: '<red>You do not have enough money to teleport here!'
  manager-gui:
    rename-claim: '<green>Please type in the name of the claim.'
    claim-renamed: '<green>Claim renamed to %1.'
    claim-deleted: '<red>Claim deleted.'
teleport:
  check-tp-location: # checks if the teleport location is safe (i.e not inside a block/in the air, etc...)
    enabled: true
    message: '<red>The teleport location is not safe!'
  permission: # gptp.teleport
    # see menus/claims.yml to edit the menu buttons
    enabled: false
    no-permission-message: '<red>You do not have permission to teleport to claims!'
  warmup:
    enabled: true
    seconds: 5
max-claim-name-length: 32
enable-public: true
# Maximum public claims
# set to -1 to set to unlimited
# You can set max per (permission) group
# Requires Vault to be installed
max-public:
  enable: false
  rules:
    default: -1
    vip: -1
    mvp: -1
vault-integration:
  enabled: true
  public-claim-cost:
    enabled: false
    verify: true # Asks the player to confirm when using the command. check messages above
    groups:
      default: 100
      vip: 50
      mvp: 10
  tp-cost: # Cost to teleport to a claim
    enabled: false
    groups:
      default: 100
      vip: 50
      mvp: 10
permissions:
  allow-manager: true # Weather to allow players with manager permission to manage claims

menu:
  enable-search: true
  enable-delete: true # Enable the delete claim button in the manager menu
  close-button:
    type: 'BARRIER'
    name: '<red>Close'
    lore: []
  back-button:
    type: 'ARROW'
    name: '<green>Back'
    lore:
      - '<gray>Click to go back'
  next-page:
    type: 'ARROW'
    name: '<green>Next Page'
    lore:
      - '<gray>Click to go to the next page'
  previous-page:
    type: 'ARROW'
    name: '<green>Previous Page'
    lore:
      - '<gray>Click to go to the previous page'
search:
  cancel-messages: # If the player says this when searching, it will cancel the search
    - 'cancel'
    - 'stop'
commands: # Permissions required to use the commands, set to false to stop checking for permissions
  claims: # gptp.command.claims
    permission:
      enabled: true
  public: # gptp.command.public
    permission:
      enabled: true
  private: # gptp.command.private
    permission:
      enabled: true
  rename: # gptp.command.rename
    permission:
      enabled: true
  setspawn: # /gptp setspawn | gptp.command.setspawn
    alias:
      enabled: true # Enable the root level alias (/setspawn)
    permission:
      enabled: true
  claimtp: # gptp.command.claimtp
    # if you need to enable a permission for actually teleporting, toggle teleport.permission.enabled above
    # this permission is only for the command, not actually teleporting
    permission:
      enabled: true
icons: # https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
  - head: # https://mineskin.org/
      texture: 'e...'
      name: 'Head'
      id: 'some_unique_id'
  - 'GRASS_BLOCK'
  - 'DIRT'
  - 'STONE'
  - 'OAK_LOG'
  - 'OAK_PLANKS'
  - 'END_STONE'
  - 'ENDER_PEARL'
  - 'ENDER_CHEST'
  - 'CHEST'
  - 'OAK_DOOR'
  - 'OAK_SIGN'
  - 'OAK_STAIRS'
  - 'OAK_SLAB'
  - 'OAK_TRAPDOOR'
  - 'BEACON'
  - 'ENDER_EYE'
  - 'REPEATER'
  - 'COMPARATOR'
  - 'REDSTONE_TORCH'
  - 'FISHING_ROD'

update-check: true
