messages: # See https://docs.adventure.kyori.net/minimessage/format.html
  claim-created: '<green>Claim created! Spawn block set to %1 %2 %3. You can change it by typing /setspawn.'
  must-be-standing-in-claim: '<red>You must be standing in a claim!'
  no-permission: '<red>You do not own this claim, or do not have permission to do that!'
  teleporting: '<yellow>Teleporting in 5 seconds, don''t move...'
  teleported: '<green>Teleported.'
  moved: '<red>Pending teleportation request cancelled.'
  damaged: '<red>Pending teleportation request cancelled.'
  public-on: '<green>Your claim is now public!' # Add the '%1' placeholder for cost, if it is enabled. The placeholder system will be revamped in the future.
                                                #For example: '<green>Your claim is now public!<red>-$%1.'
  public-off: '<green>Your claim is no longer public!'
  verify-public-cost:
    message: '<green>It will cost $%1 to make this claim public. If you want to continue, please type /public confirm<green>.'
    menu: '<gray>Cost: <green>$%1'
  updated-spawn: '<green>Spawn block set to %1 %2 %3.'
  name-too-long: '<red>The name you entered is too long!'
  updated-name: '<green>Updated the name of your claim to %1.'
  no-spawn-set: '<red>This claim does not have a spawn block set yet! Use </green><gradient:dark_purple:aqua:dark_purple>/claim set spawn</gradient><red> to set one.</red>'
  search: '<green>Type in the name of the claim you want to search for.'
  already-teleporting: '<red>You''re already teleporting somewhere!'
  public-disabled: '<red>Public claims are disabled!'
  invalid-claim: '<red>Your claim %1 had an invalid spawn location, so it has been reset.'
  max-public-exceeded: '<red>You have reached the maximum number of public claims!'
  claim-not-found: '<red>Could not find that claim!'
  not-enough-money: '<red>You do not have enough money to make this claim public!'
  manager-gui:
    rename-claim: '<green>Please type in the name of the claim.'
    claim-renamed: '<green>Claim renamed to %1.'
    claim-deleted: '<red>Claim deleted.'
teleport:
  warmup:
    enabled: true
    seconds: 5
max-claim-name-length: 32
enable-public: true
# Maximum public claims
# set to -1 to set to unlimited
# You can set max per (permission) group
# Requires Vault to be installed
max-public:
  enable: false
  rules:
    default: -1
    vip: -1
    mvp: -1
vault-integration:
  enabled: true
  public-claim-cost:
    enabled: false
    verify: true # Asks the player to confirm when using the command. check messages above
    groups:
      default: 100
      vip: 50
      mvp: 10
  tp-cost: # Cost to teleport to a claim
    enabled: false
    groups:
      default: 100
      vip: 50
      mvp: 10
permissions:
  allow-manager: true # Weather to allow players with manager permission to manage claims
menu:
  enable-search: true
  enable-delete: true # Enable the delete claim button in the manager menu
  show-coordinates: true
  close-button-type: 'BARRIER'
commands: # Permissions required to use the commands, set to false to stop checking for permissions
  claims: # gptp.command.claims
    permission:
      enabled: true
  public: # gptp.command.public
    permission:
      enabled: true
  rename: # gptp.command.rename
    permission:
      enabled: true
  setspawn: # gptp.command.setspawn
    permission:
      enabled: true
  claimtp: # gptp.command.claimtp
    permission:
      enabled: true

update-check: true
